html, body					{ margin: 0; }
body						{ font-family: sans-serif;
						  font-size: 12pt;
						  color: #ddd;
						  background-color: #111;
						  line-height: 1.4em; }
body > header, 
body > footer,
nav[data-sblg-nav]				{ width: 50rem;
						  max-width: 96%;
						  margin: 0 auto; }
body > header					{ padding: 1rem 0;
						  color: #fff; }
body > header p					{ opacity: 0.8;
						  color: #ccc;
						  margin: 0; }
h1						{ font-size: 18;
						  font-weight: 700; }
h1 a						{ color: inherit; }
h3						{ font-size: 14;
						  font-weight: 700; }
nav[data-sblg-nav]				{ padding: 1rem 0; }
nav[data-sblg-nav] li + li			{ padding-top: 1rem; }
nav[data-sblg-nav] ul				{ list-style-type: none;
					  	  padding: 0; }
a						{ color: red; }
footer						{ padding: 1rem 0;
						  color: #aaa; }
h2						{ font-weight: 700;
						  margin-bottom: 0;
						  font-size: inherit; }
h2 + div					{ color: #888; }
address						{ display: inline-block;
						  font-style: normal; }
.tags						{ color: #888;
						  margin: 0; }
.tags .sblg-tag					{ color: #fff; } 
.tags .sblg-tag + .sblg-tag:before		{ content: ', '; }
