html, body				{ margin: 0; }
body					{ font-family: sans-serif;
					  font-size: 12pt;
					  color: #ddd;
					  background-color: #111;
					  line-height: 1.4em; }
body > header,
body > footer,
body > nav,
body > section				{ width: 50rem;
					  max-width: 96%;
					  margin: 0 auto; }
body > header				{ padding: 1rem 0;
					  color: #eee; }
.tags					{ padding-top: 1rem;
					  color: #888; }
.tags .sblg-tag				{ color: #fff; } 
.tags .sblg-tag + .sblg-tag:before	{ content: ', '; }
.prevnext > a				{ display: none; }
.sblg-next-has > a,
.sblg-prev-has > a			{ display: inline-block; }
footer					{ padding: 1rem 0; }
a					{ color: red; }
body > section				{ padding: 1rem 0;
					  color: #aaa; }
section > p q				{ display: inline-block;
					  margin-bottom: 1em; }
section > p span,
section > p time,
article					{ color: #fff; }
article > header			{ display: none; }
footer					{ color: #aaa; }
.comments {
		color: #fff;
}

/* code */
pre {
  border: 1px solid #ddd;
/*  box-shadow: 5px 5px 5px #eee;*/
/*  background: #f8f8f8;*/
  padding: 1em;
  overflow-x: auto;
}
code { background: #f8f8f8; }
pre code { background: none; }

blockquote {
  font-style: italic;
  border-left: 4px solid #888888;
  margin-left: 4px;
  padding-left: 24px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
	color: #fff;
}

h3 {
  font-size: 18px;
}
