html, body        { margin: 0; }

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 20px;
  color: #555555;
  background-color: #fafafa;
  padding: 0 10px;
  font-family: serif;
}
